# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Terraform lockfile
.terraform.lock.hcl

# Crash log files
crash.log
crash.*.log

# Exclude sensitive variables files
!*.tfvars
!*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Mac/OSX system files
.DS_Store

# Ignore VS Code settings
.vscode/
**/test-module
**/rendered-agent.yaml
**/agent-context.zip
**/test-module

