{
  "name": "zilliz-byoc",
  "location": "centralindia",
  "resource_group_name": "xxxxx",
  "storage_account_scope": "xxxxx",
  "custom_tags": {
    "Environment": "Production",
    "Project": "Zilliz-BYOC"
  }
}

